$primary-red:hsl(0, 100%, 74%);
$primary-green: hsl(154, 59%, 51%);
$accent: hsl(248, 32%, 49%);
$neutral-dark: hsl(249, 10%, 26%); 
$neutral-lite: hsl(246, 25%, 77%);
$primary-white: #FFFFFF;
$purple: #5D53A3;
