
//forms
.formContainer{
  background-color: $primary-white;
  padding: 20px;
  border: 1px solid $neutral-lite;
  border-radius: 10px;
  box-shadow: 1px 12px 5px;
  color: $neutral-lite;
  margin-top: 28px;
 


    form{
    display:grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 12px;
    // margin: 20px;

    input, button{
      grid-column: 1/3;
      padding: 15px; 
      font-weight: 600;
      
    }

   .firstName{
        border-radius: 5px;
   }

    .submitBtn{
      background-color: $primary-green;
      padding: 15px;
      color: white;
      text-transform: uppercase;
      border-radius: 8px;
    }
  }
}


//trial box 
.trialbox{
  border: solid 2px $accent;
  background-color: $accent;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 12px;
  box-shadow: 1px 12px 5px $neutral-lite;
}

//terms and conditions
.termsConditions{
  text-align: center;
  color: $neutral-lite;
  font-size: 12px;
  
  a.termsLink{
    text-decoration: none;
    color: $primary-red;
    }

  }


//textbox
.textBox{
 margin: 20px;
 
 h1 {
   font-size: 50px;
  line-height: 65px;
 }
}

